rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /vocabulary/{wordId}/{assetType} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
